discord.py==1.7.3
discord==1.7.3
SQLAlchemy==1.4.29
greenlet==1.1.2
aiohttp==3.7.4.post0
requests==2.26.0
urllib3==1.26.7
async-timeout==3.0.1
asyncio
pyyaml==6.0.1
python-dotenv==1.0.0
python-jose==3.3.0
passlib==1.7.4
cryptography==41.0.1
attrs==21.4.0
chardet==4.0.0
idna==3.3
multidict==5.2.0
typing_extensions==4.0.1
yarl==1.7.2
python-dateutil==2.8.2
importlib-metadata==4.10.0
six==1.16.0
zipp==3.7.0